@import "https://fonts.googleapis.com/css?family=Roboto|Open+Sans";
@import "../../node_modules/bootstrap/scss/bootstrap";

$color : rgba(237,237,237,1);
$m-top: 80px;
$general-font: monospace;
$form-font: 'Roboto', sans-serif;
$dropBg: rgba(18,56,117,1);
$dropBorder: rgba(21,97,145,1); 
$white: #FFF;
$tile: #3299bb;
$orange: #f90;
$bord: #fafafa;
$errorRed: #721c24;

body {
	font-family: $general-font;
	background: $color;
	margin-top: $m-top;
	color: $tile;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

form {
	font-family: $form-font;
	display: block;
	height: 400px;
	width: 600px;
	background: $dropBg;
	margin: auto;
	margin-top: 40px;
	text-align: center;
	line-height: 400px;
	border-radius: 4px;
	border: 3px solid $dropBorder;
	//padding: 40px;
	span.drop-files { font-weight: bold; color: $white;}
}

.isDragging {
	background: $dropBorder;
	border: 3px solid $dropBg;
}

// Loading spinner 

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

 // v-cloak
[v-cloak] > * { 

	display: none;
	::before {
		content: '<div class="lds-ripple"><div></div><div></div></div>';
	} 
}

// Transitions

.alert, #uploadApp { transition: all ease-in-ease-out .4s; }

.spacer { clear: both; margin: 30px 0 30px 0; }

// Upload button styling
input[type="file"] {
	cursor: pointer;
	display: block;
	filter: alpha(opacity=0);
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	position: absolute;
	border:2px solid #000;
}
input[type="file"] + label {
	transition: all ease-in-ease-out .4s;
	background: $tile;
	color: $orange;
	border:1px solid $orange;
	font-weight: bold;
	padding: 25px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	&:hover {
		cursor: pointer;
		background: $orange;
		color: $tile;
		border: 1px solid $tile;

	}
	&:active {
		cursor: pointer;
		background: darken($orange, 10%);
		color: darken($tile, 10%);
	}

}

// supporting colors
.or { color: $orange; }
.ti { color: $tile; }

// Submit button

.submit {
	background: $tile;
	color: $orange;
	font-size: 1.6em;
	font-weight: bold;
	border: 1px solid $orange;
	border-radius: 2px;
	min-height: 100px;
	padding: 15px;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	margin-bottom: 25px;
	&:hover {
		cursor: pointer;
		background: $orange;
		color: $tile;
		border: 1px solid $tile;

	}
	&:active {
		cursor: pointer;
		background: darken($orange, 10%);
		color: darken($tile, 10%);
	}
}

// more text stuff

.typeError {
	color: $errorRed;
	font-weight: bold;
}